@font-face {
  font-family: NanumSquare;
  font-weight: 700;
  src: url('../../assets/fonts/NanumSquareEB.ttf');
}
@font-face {
  font-family: NanumSquare;
  font-weight: 500;
  src: url('../../assets/fonts/NanumSquareB.ttf');
}
@font-face {
  font-family: NanumSquare;
  font-weight: 400;
  src: url('../../assets/fonts/NanumSquareR.ttf');
}
@font-face {
  font-family: NanumSquare;
  font-weight: 300;
  src: url('../../assets/fonts/NanumSquareL.ttf');
}

*,
*:before,
*:after {
  font-family: NanumSquare;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.grecaptcha-badge {
  visibility: hidden;
}
